[tool.poetry]
name = "coleo"
version = "0.1.0"
description = "The nicest way to develop a command-line interface"
authors = ["Olivier Breuleux <breuleux@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
ptera = "^0.2.0"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
pytest = "^5.4.1"
pytest-cov = "^2.8.1"
isort = "^4.3.21"
flake8 = "^3.7.9"
unimport = "^0.2.1"
toml = "^0.10.0"
pyyaml = "^5.3"

[tool.black]
line-length = 80

[tool.isort]
known_first_party = "coleo"
known_third_party = "ptera"
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true

[tool.unimport]
exclude = ["__init__.py"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
